
body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}
form#payment {
	background-image: linear-gradient(white, #DEB887);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 18px;
	padding: 20px;
	width: 400px;
}

form#payment fieldset:last-of-type {
	margin-bottom: 0;
}

form#payment > fieldset > legend:before {

	counter-increment: fieldsets;
}
form#payment fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}
form#payment ol li {
	background: rgba(255,255,255,.3);
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	margin-bottom: 2px;
	box-shadow: 1px 1px 5px 7px #FF7F50;
}
form#payment ol ol li {
	background: none;
	border: none;
	float: left;
}
form#payment label {
	float: left;
	font-size: 13px;
	width: 110px;
}
form#payment fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}
form#payment label[for=visa] {
	background-image: url(visa.gif);
}
form#payment label[for=amex] {
	background-image: url(amex.gif);
}
form#payment label[for=mastercard] {
	background-image: url(mastercard.gif);
}
form#payment fieldset fieldset label:hover {
	cursor: pointer;
}
form#payment input:not([type=radio]),
form#payment textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
}
form#payment input:not([type=submit]):focus,
form#payment textarea:focus {
	background: #eaeaea;
}
form#payment input[type=radio] {
	float: left;
	margin-right: 5px;
}
form#payment button {
	background: #971a00;
	border: none;
	border-radius: 20px;
	color: #ffffff;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
	margin-bottom: 10px;
}
form#payment button:hover {
	background: #1e2506;
	cursor: pointer;
}
